/*reset*/
* {
  vertical-align: baseline;

  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

/*root-var*/
:root {
  --body-bg-color: #eceef1;
  /*works*/
  --header-bg-color: #fff;
  /*works*/
  /*not working no fallback*/
  --para-font-color: #505050;
}

/*debug*/

body {
  background-color: var(--body-bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--para-font-color);
}


/*Notes: declaration order is by type*/

/*OTHERS*/
.position-right a {
  color: #0077C5;
  text-decoration: none;
}

.position-right {
  /* Positioning */
  position: ab;
  right: 0px;
  top: 0px;
  float: right;
  /* Display & Box Model */
  /* Color */
  /* Text */
  /* Other */
}

.link-out{
  color: #0077C5;
}


img {
  display: block;
}

.p-grey {}

.position-right>button {
  border: 1px solid red;

}

.fa-lock {
  border: 1px solid red;

}

/*-------header-body----*/
a {
  color: grey;
  text-decoration: none;
}

a:hover {}

a:active {}

a:visited {}

.header-body {
  /* Positioning */
  /* Display & Box Model */
  max-width: 380px;
  margin: 0 auto;
  /* Color */
  border: 1px solid red;
  /* Text */
  /* Other */
  clear: both;
}

.logo {
  margin: 0 auto;
  padding-bottom: 20px;

}

.title {}

.header-nav,
ul,
li {

  /* Positioning */
  /* Display & Box Model */

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 4px;

  /* Color */

  /* Text */
  /* Other */
}

.header-nav img {
  display: block;
  width: 28px;
  height: 30px;

}

/*---main-containe--*/

.main-container {
  /* Positioning */
  /* Display & Box Model */
  max-width: 380px;
  margin: 0 auto;
  padding:30px;

  /* Color */
  background-color: #fff;

  /* Text */
  text-align: center;
  /* Other */
}

.header-main  {
  /* Positioning */
  /* Display & Box Model */
  padding-bottom: 20px;

  /* Color */
  border: 1px solid orange;
  /* Text */
  /* Other */
}
.header-main p {
  line-height: 2;
  font-size:14px;

}
.form-main {
  /* Positioning */
  /* Display & Box Model */
  /* Color */
  /* Text */
  /* Other */
}

.footer-main {
  /* Positioning */
  /* Display & Box Model */
  /* Color */
  /* Text */
  /* Other */
}

/*---footer-body---*/
.footer-body {
  /* Positioning */
  /* Display & Box Model */
  /* Color */
  /* Text */
  /* Other */
}

.fa {
  /* Positioning */
  /* Display & Box Model */
  width: 28;
  height: 28px;

  /* Color */
  color: black;
  /* Text */
  /* Other */

}


.flex-center {

  /* Positioning */
  /* Display & Box Model */
  display: flex;
  justify-items: center;
  justify-content: center;

  /* Color */
  /* Text */
  /* Other */

}



.flex-even {
  /* Positioning */
  /* Display & Box Model */
  display: flex;
  justify-content: space-evenly;
  justify-items: center;

  /* Color */
  /* Text */
  /* Other */


}

.flex-end {
  /* Positioning */
  /* Display & Box Model */
  display: flex;
  justify-content: flex-end;
  justify-items: center;

  /* Color */

  /* Text */
  /* Other */

}

.flex-between {
  /* Positioning */
  /* Display & Box Model */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Color */
  /* Text */
  /* Other */
}

.flex-around {
  /* Positioning */
  /* Display & Box Model */
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  /* Color */
  /* Text */
  /* Other */

}

.flex-start {
  /* Positioning */

  /* Display & Box Model */
  display: flex;
  justify-content: flex-start;
  justify-items: center;

  /* Color */
  /* Text */
  /* Other */


}